/* 
Paleta
    #3A87C1 Azul ciano
    #0068B5 Azul ciano médio (Intel)
    #102536 Azul ciano escuro
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sacramento&family=Sofia&display=swap');

*{
    margin: 0;
}

:root{
    --fonteTitulo: Oswald, sans-serif;
    --fonteTexto: sans-serif;

    --cor0: #3A87C1;
    --cor1: #0068B5;
    --cor2: #102536;
}

.bg-0{
    background-color: #FFF;
    color: #000;
}

.bg-1{
    background-color: var(--cor0);
    color: var(--cor2);
}

#menu{
    position: fixed;
    width: 300px;
    height: 100vh;
    padding: 10px 15px;
    left: -300px;
    
    background-color: var(--cor2);

    overflow-y: auto;

    transition: all ease-in-out .5s;

    z-index: 9000; /* Um alto valor para sobrepor qualquer item da tela */
}

#menu img{
    margin: 15px auto;
    display: block;

    width: 100px;
    border: 5px solid var(--cor0);
    border-radius: 50%;
}

#menu h1{
    color: var(--cor1);
    font: normal 1.2em Sacramento, Sofia, sans-serif;
}

.nav-menu{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: #d3d3d342;
    transition: .3s;
    font-size: .9em;
}

.nav-menu a i,
.nav-menu a:focus i{
    font-size: 1.5em;
    padding-right: .8rem;
    color: #d3d3d391;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a{
    color: var(--cor1);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i{
    color: var(--cor0);
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

p{
    text-indent: 2em;
}

.menu-mobile{
    display: flex;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 45px;
    height: 45px;
    
    justify-content: center;
    align-items: center;

    background-color: var(--cor1);
    color: #fff;
    font-size: 1.5rem;
    
    border-radius: 4rem;
    
    cursor: pointer;
    
    z-index: 10;
}

.menu-nav-active{
    overflow: hidden;
}

.menu-nav-active #menu{
    left: 0;
}

main{
    margin-left: 0;
}

section{
    width: 100%;
    min-height: 100vh;
}

#credenciais{
    width: 100%;
    height: 100vh;

    background: #000 url('img/bg-programmer.jpg') no-repeat fixed right center;
    background-size: cover;

    color: #000;
}

#credenciais .texto{
    margin-top: 60vh;
    margin-bottom: 100%;
    padding: 15px;
    padding-bottom: 0;

    background: linear-gradient(to right, #ffffff83 10%, transparent 90%);
}

#credenciais .texto h1{
    font: bold 2em/.8em var(--fonteTitulo);
    color: var(--cor1);
    
    text-shadow: -1px 0 black, 0 1px black;
}

#credenciais .texto p{
    display: inline;
    font: normal 1em var(--fonteTexto);
    color: var(--cor2);

    background: #ffffff60;
}

.icon{
    margin-right: 10px;
    color: var(--cor1);
}

.cv .cv-title{
    margin-top: 20px;
    margin-bottom: 20px;
    
    font-weight: 700;
    color: var(--cor2);
}

.cv .cv-item{
    position: relative;

    padding: 0 0 20px 20px;
    margin-top: -2px;
    
    border-left: 2px solid var(--cor1);
}

.cv .cv-item h4{
    text-transform: uppercase;
    font: 600 1.2em/1.2em sans-serif;
    color: #0a1620;
    margin-bottom: 10px;
}

.cv .cv-item h5{
    display: inline-block;

    margin-bottom: 10px;
    padding: 5px 15px;
    
    background: #0067b53f;
    font: 600 1em serif;
}

.cv .cv-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: -9px;

    width: 16px;
    height: 16px;

    border: 2px solid var(--cor1);
    border-radius: 50%;
    background: #fff;
}

/* Controle do Carousel em Portifólio */
.carousel-control-prev{
    margin-left: -4rem;
}

.carousel-control-next{
    margin-right: -4rem;
}

.carousel-indicators{
    margin-bottom: -4rem;
}

footer{
    background-color: #000;

    padding: 10px;

    text-align: center;
    color: #FFF;
}

/* Estilização da barra de scrool */
*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    width: 12px;
    box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--cor0);
}

/* Estilização para desktop (resolução mínima de 1280px) */
@media only screen and (min-width: 1280px){
    main{
        margin-left: 300px;
    }
    
    #menu{
        left: 0;
    }    
    
    #menu h1{
        color: var(--cor1);
        font-size: 1.5em;
    }

    #credenciais .texto p{
        background: none;
    }

    .menu-mobile{
        display: none;
    }

    #credenciais .texto h1{
        font-size: 3.5em;
        line-height: 1em;
    }

    footer{
        margin-left: 300px;
    }
}